<mat-sidenav-container class="container-fluid">
  <mat-sidenav fxLayout="column" fxLayoutGap="20px" #snav [mode]="sidenavMode$ | async" opened>
    <h1 fxFlexAlign="center"
      style="padding: 12px; font-weight: bold; text-align: center; margin:0 0 16px; font-size:28px">
      DR Security MX
    </h1>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon matListIcon>search</mat-icon>
        <span>Buscar</span>
      </a>
      <a routerLinkActive="active" mat-list-item>
        <mat-icon matListIcon>update</mat-icon>
        <span>Todos</span>
      </a>
      <a routerLinkActive="active" mat-list-item>
        <mat-icon matListIcon>attach_money</mat-icon>
        <span>Pagados</span>
      </a>
      <a routerLinkActive="active" mat-list-item>
        <mat-icon matListIcon>update</mat-icon>
        <span>Pendientes</span>
      </a>
      <a mat-list-item routerLink="/taxes/predios/payment">
        <mat-icon matListIcon>payment</mat-icon>
        <span matBadge="{{payments}}" matBadgeOverlap="false">Pagar</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column">
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="white">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button (click)="snav.toggle()" mat-icon-button>
            <mat-icon aria-label="Menu icon">menu</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
          <h5> {{ user.displayName ? user.displayName : user.email}} </h5>
          <button (click)="onLogout()" mat-icon-button>
            <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <div fxFlex="1 0 auto" class="content-container">
        <router-outlet></router-outlet>
        <!-- <tax-table></tax-table> -->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>