<mat-sidenav-container class="container-fluid">
  <mat-sidenav fxLayout="column" fxLayoutGap="20px" #snav [mode]="sidenavMode$ | async" opened>
    <h1 fxFlexAlign="center"
      style="padding: 12px; font-weight: bold; text-align: center; margin:0 0 16px; font-size:28px">
      DR Security MX
    </h1>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span>Registrar Visita</span>
      </a>
      <a routerLinkActive="active" mat-list-item>
        <mat-icon matListIcon>search</mat-icon>
        <span>Buscar visita</span>
      </a>
      <a routerLinkActive="active" mat-list-item>
        <mat-icon matListIcon>all_inclusive</mat-icon>
        <span>Todas las visitas</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column" fxFlex="100">
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="white">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button (click)="snav.toggle()" mat-icon-button>
            <mat-icon aria-label="Menu icon">menu</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
          <h5> {{ user.displayName ? user.displayName : user.email}} </h5>
          <button (click)="onLogout()" mat-icon-button>
            <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <div fxFlex="100%" class="content-container">
          <router-outlet></router-outlet>
        </div>
    </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>