<form style="margin:25vh auto auto auto" class="container" fxLayout="row wrap" [formGroup]="form"
  fxLayoutAlign="center center" fxLayoutGap="1px">

  <mat-form-field appearance="outline" fxFlex="50%">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput type="email" placeholder="example@email.com">
    <mat-icon fxHide="form.get('email').invalid" class="done" matSuffix>done</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex="50%">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput type="password" placeholder="Password">
    <mat-icon fxHide="form.get('password').invalid" class="done" matSuffix>done</mat-icon>
  </mat-form-field>

</form>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <button (click)="signUp()" [disabled]="form.valid ? false : true" mat-raised-button color="accent"> {{btnText}}
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
